{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Log-in{% endblock %}
{% block content %}
<style>
    .alert.alert-block ul{
        float: none !important;
    }
</style>
<div class="container mt-5">
    <div class="row shadow-lg px-5 py-5 rounded border">
        <div class="col-md-6">
            <h1 class="text-info">Log-in</h1>
            {% if form.errors %}
                <div class="alert alert-danger text-info" role="alert">
                    Please fix the errors below.
                </div> <br>
        {% endif %}
        <div class="login-for">
            <form action="{% url 'login' %}" method="post">
                {{ form|crispy}}
                {% csrf_token %}
                <input type="hidden" name="next" value="{% url 'student_course_list'%}" />
                <i id="toggle" class="bi bi-eye-fill input-group-text text-warning d-inline" onclick="toggleShowPassword(event)" title = 'Show password'>Show Password</i> <br> <br>
                <p><input type="submit" value="Log-in" class="btn btn-outline-info px-5"></p>
            </form>
        </div>
        </div>
        <div class="col-md-4 d-flex ">
            <img src="{% static 'images/moringa-logo.png' %}" alt="Moringa Logo" width="100%" class="mt-auto mb-auto">
        </div>
    </div>
</div>
<script>
    let clicked = false;
    function toggleShowPassword(event){
        event.preventDefault()
        let passwordInput = document.getElementById('id_password')
        let icon = document.getElementById('toggle')
        if (clicked){
            
            passwordInput.type = 'password'
            icon.className = 'bi bi-eye-fill input-group-text text-warning d-inline'
            icon.title = 'Show password'
            icon.innerHTML = 'Hide password'
            clicked = false
        }else{
            passwordInput.type = 'text'
            icon.className = 'bi bi-eye-fill input-group-text text-info d-inline'
            icon.title = 'Hide password'
            icon.innerHTML = 'Hide Password'
            clicked = true
        }


    }
</script>
{% endblock %}