{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <h1 class=" text-info col-md-12">Sign In</h1>
            <div class="col-md-6">
                {% if form.errors %}
                <div class="alert alert-danger text-info" role="alert">
                    Please fix the errors below.
                  </div>
                {% endif %}
                    
                <form action="" method="POST"> 
                    {% csrf_token %}            
                    {{form|crispy}}
                    <i id="toggle" class="bi bi-eye-fill input-group-text text-warning d-inline" onclick="toggleShowPassword(event)" title = 'Show password'>Show Password</i> <br> <br>
                    <input type="submit" value="Register" class="btn btn-outline-info">
                    <p class="d-inline ml-5">Have an account?  <a href="{% url 'login' %}" class="ml-2">Login here</a></p>
                   
                </form>
            </div>
            <div class="col-md-4 d-flex">
                <img src="{% static 'images/moringa-logo.png'%}" alt="" width="100%" class="mt-auto mb-auto">
            </div>
        </div>
        
        
    </div>
    <script async>
        let clicked = false;
        function toggleShowPassword(event){
            event.preventDefault()
            let passwordInput; 
            let icon = document.getElementById('toggle')
            if (clicked){
                passwordInput = document.querySelectorAll('[type="text"]')
                passwordInput.forEach(val=>val.type = 'password')
                icon.className = 'bi bi-eye-fill input-group-text text-warning d-inline'
                icon.innerHTML = 'Show password'
                icon.title = 'Show password'
                clicked = false
            }else{
                passwordInput = document.querySelectorAll('[type="password"]')
                passwordInput.forEach(val=>val.type = 'text')
                console.log(passwordInput);
                icon.className = 'text-info bi bi-eye-fill input-group-text d-inline'
                icon.innerHTML = 'Hide password'
                icon.title = 'Hide Password'
                clicked = true
            }
    
    
        }
    </script>
{% endblock content %}
    