{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{ object.title }}
{% endblock %}
{% block content %}
{% with cohort=object.cohort %}
<h1>
{{ object.title }}
</h1>
    {{ object.overview|linebreaks }}
    {% if request.user.is_authenticated %}
        <form action="{% url "student_enroll_course" %}" method="post">
            {{ enroll_form|crispy }}
            {% csrf_token %}
            <input type="submit" value="Enroll now" class='btn btn-outline-info'>
        </form>
    {% else %}
        <a href="{% url "student_registration" %}" class="button btn btn-outline-info">Register to enroll</a>
    {% endif %}
    </div>
{% endwith %}
{% endblock %}